<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="webServiceJAVAPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/webServiceConBD/webServiceJAVA"
                binding="basicHttpBinding" bindingConfiguration="webServiceJAVAPortBinding"
                contract="ServiceReference1.webServiceJAVA" name="webServiceJAVAPort" />
        </client>
    </system.serviceModel>
</configuration>